.td-title{
    font-size: 30px;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 10px;

}

.td-item{
    font-weight: 400;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;

}

.td-container-header{
    height: 120px;
}