<header>
    <div class="td-row td-container-header">
        <div class="td-cell-80">
            <div class="td-row gap-30">
                <div class="td-title">
                    Sneakes
                </div>
                <div class="td-row td-items gap-10">
                    <div class="td-item">
                        Sneakes
                    </div>
                    <div class="td-item">
                        Sneakes
                    </div>
                    <div class="td-item">
                        Sneakes
                    </div>
                    <div class="td-item">
                        Sneakes
                    </div>
                    <div class="td-item">
                        Sneakes
                    </div>
                </div>    
            </div>
        </div>

        <!-- START CAR AND PROFILE ICONS  -->
        <div class="td-cell-20">
            <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->

        </div>

    </div>

</header>