<header>
    <div class="td-row full-width hidden-on-mobile">
        <div class="td-container-header">
            <div class="td-cell-80">
                <div class="td-row gap-30 td-items">
                    <div class="td-title">
                        TIENDA
                    </div>
                    <div class="td-row td-items gap-10">
                        <div class="td-item">
                            Item 1
                        </div>
                        <div class="td-item">
                            Item 2
                        </div>
                        <div class="td-item">
                            Item 3
                        </div>
                        <div class="td-item">
                            Nosotros
                        </div>
                        <div class="td-item">
                            Contáctanos
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- START CAR AND PROFILE ICONS  -->
            <div class="td-cell-20 ">
                <div class="td-row gap-30 td-justify-content-end">
                    <div class="td-car">
                        <mat-icon aria-hidden="false" aria-label="Example shopping cart icon" fontIcon="add_shopping_cart"
                            class="td-car-icon"></mat-icon>
                    </div>
                    <div class="td-profile">
                        <mat-icon aria-hidden="false" aria-label="Example account_circle icon" fontIcon="account_circle"
                            class="td-profile-icon"></mat-icon>
                    </div>
                </div>
            </div>
            <!-- END CAR AND PROFILE ICONS  -->
        </div>
    </div>

    <!-- START REPONSIVE MENU -->
    <div class="show-on-480">
        <div class="td-row td-justify-content-between">
            <div class="td-title">
                TIENDA
            </div>
            <div class="td-button-responsive">
                <button class="td-justify-content-end" mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
                <mat-icon class="td-button-menu-icon">menu</mat-icon>
            </button>
            
            </div>
            <!-- MENU ITEMS  -->
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon aria-hidden="false" aria-label="Example shopping cart icon" fontIcon="add_shopping_cart"
                        class="td-car-icon"></mat-icon>
                    <span>Item 1</span>
                </button>
                <button mat-menu-item>
                    <mat-icon aria-hidden="false" aria-label="Example shopping cart icon" fontIcon="exit_to_app"
                        class="td-car-icon"></mat-icon>
                    <span>Cerrar Sesión</span>
                </button>
                

            </mat-menu>
        </div>
    </div>
    <!-- END REPONSIVE MENU -->

</header>