/* You can add global styles to this file, and also import other style files */
@import './assets/styles/_theming.scss';
@import './assets/styles/colors.scss';
@import './assets/styles/layout.scss';

html,
body {
    height: 100%;
    margin: 0;
    font-family: "DM Sans" !important;
}
