<div class="td-page-full-height">
    <div class="td-page-full-height-content">
        <mat-card>
            <mat-card-content>
                <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                    <h2>Log In</h2>
                    <mat-error *ngIf="!false">
                        The email and password were not recognized
                    </mat-error>
                    <mat-form-field>
                        <input matInput placeholder="Email" name="email" [(ngModel)]="email" required>
                        <mat-error>
                            Please provide a valid email address
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="password" required>
                        <mat-error>
                            Please provide a valid password
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>

</div>